<include href = "views/header.html"></include>

<div class="container" id="main">
    <!--Table-->
    <table id="user-purchases" class="table">
        <!--Table header-->
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</td>
            <th scope="col">Product</td>


        </tr>
        </thead>
        <!-- Table body -->
        <tbody>
        <repeat group="{{@purchases}}" value="{{@purchase}}">
            <tr>
                <th scope="row">{{@purchase['fname']}} {{@purchase['lname']}}</td>
                <td>{{@purchase['email']}}</td>
                <td>{{@purchase['productname']}}</td>
            </tr>
        </repeat>
        </tbody>
    </table>
</div>
<include href="views/footer.html"></include>