<include href = "views/header.html"></include>
<div class="container">

    <!--Row -->
    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-10">
            <p class="display-3">my cart</p>
            <hr>
            <div class="row">
                <div class="col-4">
                    <img src="images/product/{{ @SESSION.product->getImage1() }}.jpg" class="img-thumbnail" alt="...">
                </div>

                <div class="col-4">
                    <p class="fs-5 fw-bold">{{ @SESSION.product->getProductname() }}</p>
                    <p class="fs-5">${{ @SESSION.product->getPrice() }}</p>
                </div>

                <div class="col-4">
                    <p class="fs-5">Quantity: {{ @SESSION.quantity }}</p> x <span>${{ @SESSION.product->getPrice() }}</span>
                </div>
            </div>
            <hr>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-10">
            <p class="display-3">order summary</p>
            <hr>
            <div class="row">

                <div class="col-6">
                    <p class="fs-3 fw-bold text-success">member savings</p>
                </div>

                <div class="col-6">

                </div>
            </div>

            <div class="row">
                <div class="col-6 fs-1 fw-bold">
                    <p class="fs-1 fw-bold">subtotal</p>
                </div>

                <div class="col-6 fs-1 fw-bold">
                    ${{ @SESSION.quantity * @SESSION.product->getPrice() }}
                </div>
            </div>

            <p class="text-muted text-center">
                taxes and shipping calculated at checkout
            </p>

            <form method="post" action="#">
                <div class="m-2 p-2 d-grid gap-2">
                    <input type="submit" class="btn btn-secondary btn-lg" value="add to cart">
                </div>
            </form>
        </div>
    </div>

</div>

<include href="views/footer.html"></include>
