<include href = "views/header.html"></include>

<style>

    body {
        background: #a1b7ba !important;
    }

    .gal-img{
        width:300px;
        margin:50px;
        box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

</style>

<div class="container">
    <h1 class="display-2">Dog Toys</h1>

    <p class="text-center h1">Shop the collection</p>

    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-10">
            <img src="images/product/kong.jpg" style="height: 200px" class="rounded mx-auto d-block gal-img" alt="Kong">
            <p class="fs-2 text-center" style="margin-left: 15px;">Kong</p>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-10">
            <img src="images/product/bonebone.jpg" style="height: 200px" class="rounded mx-auto d-block gal-img" alt="Rope">
            <p class="fs-2 text-center">Bonebone Bone</p>
        </div>

    </div>
</div>

<include href="views/footer.html"></include>

