<include href = "views/header.html"></include>

    <!--Container-->
    <div class="container">
        <!--Playful Pets-->
        <h1 class="display-2">Playful Pets</h1>

        <div class="row">
            <!--Column Welcome Title-->
            <div class="col-lg-7 col-md-7 col-sm-10">
                <h1 class="mb-3">Welcome to Playful Pets Shop</h1>
            </div>

            <!--Cat and Dog Toy Buttons-->
            <div class="col-lg-5 col-md-5 col-sm-10">

                <div class="d-grid gap-4 d-lg-block">
                    <a href="cat" type="button" class="btn btn-lg btn btn btn-dark">Shop Cat Toys</a>
                    <a href="dog" type="button" class="btn btn-lg btn btn btn-dark ms-2">Shop Dog Toys</a>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-10">
                <img src="images/cats/arty_vivi.jpg" class="gal-img2 img-fluid">
            </div>

            <div class="col-lg-6 col-md-6 col-sm-10">
                <img src="images/milo/6.png" class="gal-img2 img-fluid">"
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-10">
                <img src="images/milo/1.png" class="gal-img">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10">
                <img src="images/milo/3.png" class="gal-img">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10">
                <img src="images/milo/4.png" class="gal-img">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-10">
                <img src="images/milo/5.png" class="gal-img">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10">
                <img src="images/milo/2.png" class="gal-img">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10">
                <img src="images/milo/7.png" class="gal-img">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-10">
                <img src="images/milo/8.png" class="gal-img">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10">
                <img src="images/milo/9.png" class="gal-img">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10">
                <img src="images/milo/10.png" class="gal-img">
            </div>
        </div>
    </div>

<!--Footer-->
<include href="views/footer.html"></include>
