<include href = "views/header.html"></include>
<style>

    body {
        background: #a1b7ba !important;
    }

    .gal-img{
        width:300px;
        margin:50px;
        box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

</style>

<div id="container">
    <h1>Playful Pets</h1>

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-10">
                <img src="images/milo/2.png" class="gal-img">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10">
                <img src="images/milo/3.png" class="gal-img">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10">
                <img src="images/milo/4.png" class="gal-img">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-10">
                <img src="images/milo/5.png" class="gal-img">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10">
                <img src="images/milo/6.png" class="gal-img">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10">
                <img src="images/milo/7.png" class="gal-img">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-10">
                <img src="images/milo/8.png" class="gal-img">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10">
                <img src="images/milo/9.png" class="gal-img">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10">
                <img src="images/milo/10.png" class="gal-img">
            </div>
        </div>
    </div>
</div>

<footer class="text-center text-white" style="background-color: #f1f1f1;">
    <!-- Grid container -->
    <div class="container pt-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a
                    class="btn btn-link btn-floating btn-lg text-dark m-1"
                    href="#!"
                    role="button"
                    data-mdb-ripple-color="dark"
            ><i class="fab fa-facebook-f"></i
            ></a>

            <!-- Twitter -->
            <a
                    class="btn btn-link btn-floating btn-lg text-dark m-1"
                    href="#!"
                    role="button"
                    data-mdb-ripple-color="dark"
            ><i class="fab fa-twitter"></i
            ></a>

            <!-- Google -->
            <a
                    class="btn btn-link btn-floating btn-lg text-dark m-1"
                    href="#!"
                    role="button"
                    data-mdb-ripple-color="dark"
            ><i class="fab fa-google"></i
            ></a>

            <!-- Instagram -->
            <a
                    class="btn btn-link btn-floating btn-lg text-dark m-1"
                    href="#!"
                    role="button"
                    data-mdb-ripple-color="dark"
            ><i class="fab fa-instagram"></i
            ></a>

            <!-- Linkedin -->
            <a
                    class="btn btn-link btn-floating btn-lg text-dark m-1"
                    href="#!"
                    role="button"
                    data-mdb-ripple-color="dark"
            ><i class="fab fa-linkedin"></i
            ></a>
            <!-- Github -->
            <a
                    class="btn btn-link btn-floating btn-lg text-dark m-1"
                    href="#!"
                    role="button"
                    data-mdb-ripple-color="dark"
            ><i class="fab fa-github"></i
            ></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-dark">Jakarta</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</body>
</html>
