<include href = "views/header.html"></include>
<div class="container">
<h1>Login</h1>
<form action="#" method="post">

    <!--Username -->
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username">
    </div>

    <!--Password-->
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>

    <!--Submit Button -->
    <div class="form-group">
        <button type="submit" class="btn btn-dark">Login</button>
    </div><br>

    <!--Registration Button -->
    <h3>Not a member...</h3>
    <div class="form-group">
        <a href="register.html" class="btn btn-info" role="button">Register here</a>
    </div>
</form>
</div>
</body
</html>

