<include href = "views/header.html"></include>
<div class="container">
<h1>Login</h1>
<form action="#" method="post">

    <!--Username -->
    <div class="form-group">
        <label for="usernames">Username</label>
        <input type="text" class="form-control" id="usernames" name="usernames">
        <check if=" {{ isset(@errors['usernameCheck'])}}">
            {{@errors['usernameCheck']}}<br>
        </check>
    </div>

    <!--Password-->
    <div class="form-group">
        <label for="passwords">Password</label>
        <input type="passwords" class="form-control" id="passwords" name="passwords">
        <check if=" {{ isset(@errors['passNameCheck'])}}">
            {{@errors['passNameCheck']}}<br>
        </check>
    </div> <br>

    <!--Submit Button -->
    <div class="form-group">
        <button type="submit" class="btn btn-dark">Login</button>
    </div><br>

    <!--Registration Button -->
    <h3>Not a member...</h3>
    <div class="form-group">
        <a href="register" class="btn btn-info" role="button">Register here</a>
    </div>

</form>
</div>
<include href="views/footer.html"></include>

