<include href = "views/header.html"></include>

<style>
    .rounded-arty {
        width: 300px;
        margin: 50px;
    }

</style>

<div class="container">

    <!--Row -->
    <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-10">
                <img src="images/product/{{ @SESSION.product->getImage1() }}.jpg" alt='Picture of a cat and kitten' class='rounded-arty'>
                <img src="images/product/{{ @SESSION.product->getImage2() }}.jpg" alt='Picture of a cat and kitten' class='rounded-arty'>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-10">

                <h3>Price</h3>
                <p>{{ @SESSION.product->getPrice() }}</p>

                <h3>quantity</h3>

                <button>add to cart</button>

                <h3>product details</h3>
                <p>{{ @SESSION.product->getDescription() }}</p>

            </div>
    </div>


</div>

<include href="views/footer.html"></include>