<include href = "views/header.html"></include>

<style>
    .rounded-arty {
        width: 300px;
        margin: 50px;
    }

</style>

<h1>Product Page</h1>

<p>{{ @SESSION.product->getProductId() }}</p>

<div class="container">
    <!--Row -->
    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-10">
            <img src="images/product/ballroller.jpg" alt="Picture of a cat and kitten" class="rounded-arty">
            <img src="images/product/ballrollercat.jpg" alt="Picture of a cat and kitten" class="rounded-arty">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-10">


            <h3>style (dropdown)</h3>

            <h3>quantity</h3>

            <button>add to cart</button>

            <h3>product details</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </div>

    <!--
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-10">
            <img src="images/product/ballrollercat.jpg" alt="Picture of a cat and kitten" class="rounded-arty">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-10">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </div>
    -->
</div>

<include href="views/footer.html"></include>