<include href = "views/header.html"></include>

<div class="container">
    <p class="display-2">Summary</p>

    <div class="row">

        <p class="lead">
            You purchased {{ @SESSION.quantity }} {{ @SESSION.product->getProductname() }}

            <div>
                <img src="images/product/{{ @SESSION.product->getImage1() }}.jpg" alt="..." style="width: 200px">
            </div>

        </p>

    </div>

    <div class="row">
        <p class="lead">
            Thank for you purchase.

            Become a <a href="register">member</a> and save 20% on your future purchases.

            See you next time!
        </p>

    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>

<include href="views/footer.html"></include>